:root {
    --tamanho:60px;
}
/* Principais */
body {
    display: grid;
    grid-template-columns: 110px 1fr;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    text-align: center;
}

aside {
    background-color: #f5f5f5;
    padding: 20px;
    border-right: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px #C170FF;
    min-height: 80vh;
    position: relative;
}

main {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* Section */
.content-box {
    background-color: #f1f1f1;
    padding: 18px;
    border-radius: 8px;
    box-shadow: 0 2px 5px #C170FF;
    width:100vh;
    max-height: 88vh; /* Ajuste conforme necessário para 5 contatos */
    padding-right: 15px; /* Para dar espaço para a barra de rolagem */
}

.detalhes-item {
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 5px #C170FF;
    height: 65vh;
    background-color: #ffff;
    position: relative;
    padding-bottom: 80px;
}

.content-detalhe{
    border-bottom: 2px solid #000;
    padding-bottom: 1px;
    margin-bottom: 20px;
}

.edit-input-field {
    width: 98%;
}




/* Botões da lateral */
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    width: 100%;
}

.image-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 12px;
    border-radius: 5px;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 2px 5px #C170FF;
}

.image-button:hover {
    background-color: #e0e0e0;
    transform: scale(1.1);
    transition: all 0.3s ease;  
}

.button-icon {
    width: var(--tamanho);
    height: var(--tamanho);
    object-fit: contain;
}


/* Botão de confirmar */

.button-confirm {
    background-color: #64ff9f;
    position: absolute;
    bottom: 3vh;
    left: 50%;
    transform: translateX(-50%);
    border: #f1f1f1;
    border-radius: 5px;
    font-size: 5vh;
    padding: 3vh;
    box-shadow: 0 2px 5px #C170FF;
}
.button-confirm:hover {
    background-color: #f0ff68;
    transform: translateX(-50%) scale(1.1);
    transition: all 0.3s ease;  
}